@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --bg-color: #e5e5e5;
  --second-bg-color: #16365dc9;
  --third-bg-color: #c6535b;
  --text-color: #000;
  --main-color: #0ef;

  --gradient-one: linear-gradient(113.49deg,#c6535b 6.99%,#16365dc9 94.29%);
  --gradient-two: linear-gradient(113.49deg,#8b5d60 6.99%,rgba(49,71,99,.79) 94.29%);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  background-color: var(--bg-color);
  color: var(--text-color);
}
p{
  /* fontSize:18,lineHeight: 1.2 */
  font-size: 1.5rem;
  /* line-height: 2rem; */
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky{
  border-bottom: .1rem solid rgba(0,0,0,.2);
}

a.logo{
  font-size: 2rem;
  margin-left: 1rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: default;
}
p.logo{
  font-size: 2rem;
  margin-left: 1rem;
  color: var(--third-bg-color);
  font-weight: 800;
  cursor: default;
}
.navbar a{
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}
.navbar a:hover,
.navbar a.active{
  color: var(--third-bg-color);
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}


.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--second-bg-color);
}

.contact{
background-color: var(--bg-color);
}
.title{
  background: var(--gradient-one);
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.title p{
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.contact h2{
  margin-bottom: 3rem;
}

.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form .input-box1 input,
.contact form textarea,textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: '#fff';
  border-radius: .8rem;
  margin: .7rem 0;
}


.contact form .input-box input{
  width: 49%;
}
.contact form .input-box1 input{
  width: 100%;
}
.contact form textarea{
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
}


.btn{
  border-radius: 4rem;
  width: 20rem;
}

.btn , .btn1{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--gradient-one);
  box-shadow: 0 0 1rem var(--second-bg-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;

}

.btn1{
  border-radius: 1rem;
  width: 20rem;
}
.btn:hover, .btn1:hover{
  box-shadow: none;
}
.BtnContainer{
  /* display:'flex',justifyContent:'flex-end',marginTop:10 */
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem

}
.questions{
  /* background-color: #0ef; */
  border: solid #bbb;
  border-width: 1px;
  width: 80%;
  margin: auto;
  /* min-height: 40vh; */
  margin-top: 5vh;
  padding: 3rem 2% 2rem;
  transition: .5s ease;
}
.questions:hover{
  transform: scale(1.02);
  border: solid var(--third-bg-color);
  border-width: 1px;
}

.subContain{
  /* border-width: 1px; */
  background: var(--gradient-two);
  font-size: 1rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.subContain p{
  color: #fff;
}
.subContain h1{
  font-weight: 400;
  color: #fff;
}



.answers{
  width: 80%;
  /* background-color: red; */
  min-height: 10vh;
  border-width: 1px;
  padding: 2%;
  border: solid #bbb;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 2rem;
}

.div3{
  margin: 2% 0.5%;
  background-color: #fff;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -76px 0 0 -76px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid var(--third-bg-color);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 0.5s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
  color: #fff;
}

.footer-text p{
  font-size: 1.6rem;
}

.footer-iconTop a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}
.footer-iconTop a:hover{
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

.container{
  /* marginTop:'10%',marginBottom:'5%' */
  margin-top: 15rem;
  margin-bottom: 7.5rem;
}


@media (min-width: 900px){
  .btn{
    border-radius: 4rem;
    width: 30rem;
  }
}
@media (max-width: 900px){
  .container{
    margin-top: 22rem;
  }
  .header{
    display: block;
  }
  .navbar{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .navbar a{
    margin: 0.1rem 0;
  }
  .contact{
    margin-top: 15rem;
    /* margin-bottom: 7.5rem; */
    }
}
@media (max-width: 800px){
  /* .subContain{
    flex-wrap: wrap;
  } */
  .answers{
    margin: 2rem auto;
  }
}

@media (max-width: 500px){
  .contact form .input-box{
    flex-direction: column;
  }
  .contact form .input-box input{
    width: 100%;
  }
  .title{
    width: 100%;
  }
}

@media (max-width: 400px){
  .heading{
    font-size: 2.5rem;
  }
  .title p{
    font-size: 1.5rem;
  }
}


@media (max-width: 330px){
  .BtnContainer{
    justify-content: center;
  }
}

